<div>
  <form name="input" action="/" method="get">
    Username: <input type="text" name="user">
    Password: <input type="password" name="password">
    <input type="submit" value="Login">
  </form>
</div>
